
body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.blackback {
    background-color: black;
    color: white; 
    padding-left: 130px;
    padding-right:130px;
    padding-top:50px;
    padding-bottom:50px;
}

.whiteback {
    background-color: white;
    color: black; 
    padding-left: 130px;
    padding-right:130px;
    padding-top:50px;
    padding-bottom:50px;
    
}

.header {
    background-image: url(https://files.slack.com/files-pri/T0KSY91CK-FH6NLDMLP/download/squares.svg);
      height:100%;
    padding-left:130px;
    padding-top:95px;
    padding-bottom:100px; 
}

a {
    color: black;
}

.blackback a {
    color:white;
    text-decoration: none;
}

.smallersize {
        font-size:5x;
        padding: 5px;
}

.topnavbar {
    background-color: black;
    overflow: hidden;
    text-align: center;
    padding: 5px 0px 5px 0px;
    justify-content: space-around;
    align-items: flex start;
    width:100%;
    position: sticky;
    top:0;
   display: flex;
   z-index: 1;
  }
  
  .topnavbar a {
    color: white;
    border: 40px;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    float: none;
    position: justify;
  }

.greetgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.whatdoyouwantgrid{
    text-align:left;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.storiesgrid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align:center;
    
}



.storiesformat{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  
   border-radius: 100%;
    width: 80%;

}



.whyusgrid {

    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align:left;
}

.partnergrid {

    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    
}

.partnerformat {
    width:100%;
}

.generalmenugrid a {
    font-size: 12px;
}
.generalmenugrid {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items:left;

}

@media all and (maxwidth:400) {

}

.eventgrid{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    border: 1px solid black;
}

.buttonsignup {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .coursesgrid{
      display: grid;
      grid-template-columns: 1fr 2fr;
   
  }

  .imagecourse{
      max-width:100%;
      filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    display:flex;
    align-self: right;
  }

  .imagecourse:hover {;
    filter: grayscale(0%);

  }